@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
section {
  margin-bottom: 50px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.inner {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  color: #000000;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Readex Pro';
  font-size: 58px;
  line-height: 70px;
}

h2 {
  margin-bottom: 10px;
  font-family: 'Readex Pro';
  font-size: 42px;
  line-height: 52px;
  text-align: center;
}

h3 {
  font-family: 'Readex Pro';
  font-size: 32px;
  line-height: 38px;
}

h4 {
  font-family: 'Readex Pro';
  font-size: 22px;
  line-height: 28px;
}

h5 {
  font-family: 'Readex Pro';
  font-size: 22px;
  line-height: 28px;
}

.sub-title {
  font-family: 'Readex Pro';
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.btn {
  padding: 15px 50px;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: 'Inter';
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background: #000;
  color: #fff;
}

@media (max-width: 500px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  h2 {
    font-size: 30px;
    line-height: 37px;
  }
  h3 {
    font-size: 22px;
    line-height: 27px;
  }
  h4 {
    font-size: 18px;
    line-height: 20px;
  }
  .btn {
    padding: 10px 50px;
  }
}

body.active {
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  position: relative;
}

header .menu a {
  text-transform: uppercase;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 17px;
}

header .menu .arrow {
  position: relative;
  padding-right: 17px;
}

header .menu .arrow::before, header .menu .arrow::after {
  content: '';
  width: 7px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 8px;
}

header .menu .arrow::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  right: 5px;
}

header .menu .arrow::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  right: 0;
}

header .menu .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  position: absolute;
  padding: 20px;
  opacity: 0;
  border-radius: 10px;
  text-align: right;
  background: #F8F9FA;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 5;
  visibility: hidden;
  pointer-events: none;
}

header .menu .sub-menu a:hover {
  text-decoration: underline;
}

header .menu .sub-menu.active {
  margin-top: 10px;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

header .buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .buttons .input {
  display: none;
  position: absolute;
  right: 80px;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header .buttons .input.active {
  display: block;
}

header .burger {
  display: none;
}

@media (max-width: 770px) {
  .container {
    max-width: 680px;
  }
  header {
    position: relative;
    z-index: 1000;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 20px;
  }
  header .logo {
    position: absolute;
    left: 0;
    z-index: 6;
  }
  header .buttons {
    z-index: 6;
  }
  header .burger {
    z-index: 6;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  header .burger::before, header .burger::after {
    content: '';
  }
  header .burger span, header .burger::before, header .burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  header .burger::before {
    top: 0;
  }
  header .burger::after {
    bottom: 0;
  }
  header .burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  header .navbar.active {
    top: 0;
  }
  header .navbar {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 30px 30px 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  header .navbar .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .navbar .menu a {
    color: #fff;
    font-size: 20px;
  }
  header .navbar .menu .arrow::before,
  header .navbar .menu .arrow::after {
    background-color: #fff;
  }
  header .navbar .menu.active::before {
    content: ' ';
    z-index: 6;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #fff;
  }
  header .navbar .menu .sub-menu.active {
    position: relative;
    top: 10px;
    background-color: #656565;
    text-align: left;
  }
}

.swiper-container {
  padding: 100px 80px;
  background: #dce5e2;
  border-radius: 50px;
}

.swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.swiper-container .swiper-slide .slider-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-width: 0;
}

.swiper-container .swiper-slide .slide-info p {
  margin-bottom: 30px;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 19px;
}

.swiper-container .swiper-button-next::after,
.swiper-container .swiper-button-prev::after {
  color: #000;
}

.swiper-container .swiper-pagination-bullet {
  width: 100px;
  height: 5px;
  border-radius: 0;
}

.swiper-container .swiper-pagination-bullet-active {
  background: #000;
}

@media (max-width: 770px) {
  .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slide-info {
    display: none;
  }
  .swiper-container .swiper-pagination-bullet {
    width: 60px;
    height: 5px;
  }
}

@media (max-width: 430px) {
  .swiper-container .swiper-pagination-bullet {
    width: 30px;
    height: 4px;
  }
}

.categories span {
  font-family: 'Inter';
  font-size: 15px;
  line-height: 19px;
}

.categories .sub-title {
  max-width: 620px;
  margin: 0 auto;
}

.categories .product-types {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.categories .product-types .left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.categories .product-types .left-column .card {
  padding: 0 40px;
  text-align: right;
}

.categories .product-types .left-column .laptop-card-info {
  margin-bottom: 10px;
}

.categories .product-types .left-column .watch-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories .product-types .right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.categories .product-types .right-column .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}

.categories .product-types .right-column .phones-card-info,
.categories .product-types .right-column .tablet-card-info {
  margin: 0 40px;
}

.categories .product-types .column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.categories .product-types .card {
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1210px) {
  .categories .product-types {
    margin: 1 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .categories .product-types .watch-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .categories .product-types .left-column {
    gap: 20px;
  }
  .categories .product-types .left-column .card {
    min-width: 600px;
  }
  .categories .product-types .right-column .card {
    padding: 30px 0;
    min-width: 290px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .categories .product-types .right-column .tablet-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 630px) {
  .categories .product-types .left-column .card {
    min-width: 450px;
  }
  .categories .product-types .right-column .card {
    padding: 30px 0;
    min-width: 205px;
  }
}

@media (max-width: 500px) {
  .categories .product-types .left-column .card {
    min-width: 400px;
  }
  .categories .product-types .right-column .card {
    min-width: 190px;
  }
  .categories .product-types .right-column .phones-card-info,
  .categories .product-types .right-column .tablet-card-info {
    margin: 0 20px;
  }
}

@media (max-width: 410px) {
  .categories {
    padding: 10px 0;
  }
  .categories .product-types .left-column .card {
    min-width: 300px;
  }
  .categories .product-types .right-column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .categories .product-types .right-column .card {
    min-width: 300px;
  }
  .categories .product-types .right-column .card img {
    margin: 0 auto;
  }
}

.sell__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.sell__items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  gap: 10px;
  font-family: 'Inter';
}

.sell__items .item p {
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
}

.sell__items .item .price {
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 900px) {
  .sell__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
  .sell__items .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media (max-width: 500px) {
  .sell__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
  .sell__items .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}

.best__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  margin-top: 30px;
}

.best__items .item {
  padding: 40px 50px 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 16px;
  background: #F8F9FA;
}

@media (max-width: 1250px) {
  .best__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .best__items .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

@media (max-width: 880px) {
  .best__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .best__items .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    gap: 20px;
  }
}

.ideas__content {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.ideas__content p {
  margin-top: 20px;
  font-family: 'Inter';
  font-size: 24px;
  line-height: 30px;
}

.ideas__content img {
  margin: 0;
}

.ideas__content .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more:hover {
  text-decoration: underline;
}

.more:hover img {
  margin-bottom: 5px;
}

.more span {
  font-family: 'Inter';
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
}

.more img {
  margin: 0;
}

@media (max-width: 1000px) {
  .ideas__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .ideas__content .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}

@media (max-width: 640px) {
  .ideas__content {
    margin: 30px 0;
  }
  .ideas__content .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .ideas__content p {
    margin-top: 15px;
    font-size: 20px;
  }
  .more {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 500px) {
  .ideas__content p {
    margin-top: 8px;
    font-size: 18px;
  }
}

.search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.search-input #search {
  min-width: 50%;
  padding: 20px 70px;
  margin-bottom: 20px;
  background-image: url("/icons/input_search.svg");
  background-position: 15px center;
  background-repeat: no-repeat;
  background-color: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  font-family: 'Inter';
  font-size: 20px;
  line-height: 17px;
  color: #000;
}

.search-input #search:focus, .search-input #search:hover {
  border: 1px solid #000000;
}

.search-input #search::-webkit-input-placeholder {
  font-size: 14px;
  color: #000;
}

.search-input #search:-ms-input-placeholder {
  font-size: 14px;
  color: #000;
}

.search-input #search::-ms-input-placeholder {
  font-size: 14px;
  color: #000;
}

.search-input #search::placeholder {
  font-size: 14px;
  color: #000;
}

.search-input #search::-webkit-search-cancel-button {
  display: none;
}

.search-input .words {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.search-input .words .btn {
  padding: 10px 20px;
}

.email-input {
  background: #DCE5E2;
  border-radius: 16px;
  padding: 45px 10px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.email-input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email-input form #email-sign,
.email-input form #submit-btn {
  padding: 15px 30px;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 17px;
}

.email-input form #email-sign {
  background: #DCE5E2;
  border: 1px solid #000000;
  border-radius: 54px 0px 0px 54px;
}

.email-input form #email-sign:hover, .email-input form #email-sign:focus {
  border: 2px solid #000000;
}

.email-input form #email-sign::-webkit-input-placeholder {
  color: #000;
}

.email-input form #email-sign:-ms-input-placeholder {
  color: #000;
}

.email-input form #email-sign::-ms-input-placeholder {
  color: #000;
}

.email-input form #email-sign::placeholder {
  color: #000;
}

.email-input form #submit-btn {
  background: #000000;
  border-radius: 0px 200px 200px 0px;
  color: #fefefe;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.email-input form #submit-btn:hover {
  background: #fefefe;
  border: 1px solid #000000;
  color: #000;
  font-weight: 700;
}

@media (max-width: 1050px) {
  .search-input .words {
    max-width: 80%;
  }
}

@media (max-width: 770px) {
  .search-input #search {
    padding: 10px 50px;
  }
  .search-input a {
    padding: 5px 10px;
  }
  .search-input .words {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .search-input #search {
    margin-bottom: 0;
  }
  .search-input .words {
    display: none;
  }
  #email-sign,
  #submit-btn {
    padding: 0 50px;
  }
}

@media (max-width: 425px) {
  #search {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  form {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

footer {
  background: #F8F9FA;
  padding: 30px 75px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .logo {
  max-width: 300px;
}

footer .container .logo p {
  text-align: left;
}

footer .container .logo img {
  margin-left: 0;
}

footer .container .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

footer .container .column a {
  font-family: 'Inter';
  font-size: 17px;
  line-height: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 1200px) {
  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  footer .container .logo {
    min-width: 100%;
  }
  footer .container .logo p {
    text-align: center;
  }
  footer .container .logo img {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 20px 40px;
  }
  footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  footer .container .column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .column h5 {
    text-decoration: underline;
  }
}

@media (max-width: 500px) {
  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  footer .container .logo p {
    text-align: left;
  }
  footer .container .logo img {
    margin: 0;
  }
  footer .container .column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
