@import url(/css/nullstyle.css);
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body.active {
  overflow: hidden;
}

header {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  position: relative;
}

header .menu a {
  text-transform: uppercase;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 17px;
}

header .menu .arrow {
  position: relative;
  padding-right: 17px;
}

header .menu .arrow::before, header .menu .arrow::after {
  content: '';
  width: 7px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 8px;
}

header .menu .arrow::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  right: 5px;
}

header .menu .arrow::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  right: 0;
}

header .menu .sub-menu {
  position: absolute;
  background: #a1a1a1;
  padding: 20px;
  text-align: right;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  z-index: 5;
}

header .menu .sub-menu a:hover {
  text-decoration: underline;
}

header .menu .sub-menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  margin-top: 10px;
}

header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .buttons .input {
  display: none;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 80px;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 18px;
}

header .buttons .input.active {
  display: block;
}

header .burger {
  display: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

h1 {
  font-family: 'Readex Pro';
  font-size: 58px;
  line-height: 70px;
  margin-bottom: 20px;
}

.btn {
  font-family: 'Inter';
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  padding: 15px 50px;
  color: #000;
  border: 1px solid #000000;
  border-radius: 200px;
  display: inline-block;
}

.swiper-container {
  background: #dce5e2;
  border-radius: 50px;
  padding: 100px 50px;
}

.swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container .swiper-slide .slider-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-width: 0;
}

.swiper-container .swiper-slide .slide-info p {
  font-family: 'Inter';
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 30px;
}

.swiper-container .swiper-button-next::after,
.swiper-container .swiper-button-prev::after {
  color: #000;
}

.swiper-container .swiper-pagination-bullet {
  width: 100px;
  border-radius: 0;
  height: 5px;
}

.swiper-container .swiper-pagination-bullet-active {
  background: #000;
}

@media (max-width: 770px) {
  .container {
    max-width: 680px;
  }
  header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 20px;
    position: relative;
    z-index: 1000;
  }
  header .logo {
    position: absolute;
    left: 0;
    z-index: 6;
  }
  header .buttons {
    z-index: 6;
  }
  header .burger {
    z-index: 6;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  header .burger span, header .burger::before, header .burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  header .burger::before, header .burger::after {
    content: '';
  }
  header .burger::before {
    top: 0;
  }
  header .burger::after {
    bottom: 0;
  }
  header .burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  header .navbar.active {
    top: 0;
  }
  header .navbar {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 100px 30px 30px 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  header .navbar .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .navbar .menu a {
    color: #fff;
    font-size: 20px;
  }
  header .navbar .menu .arrow::before,
  header .navbar .menu .arrow::after {
    background-color: #fff;
  }
  header .navbar .menu.active::before {
    content: ' ';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #fff;
    z-index: 6;
  }
  header .navbar .menu .sub-menu.active {
    position: relative;
    text-align: left;
    top: 10px;
    background-color: #656565;
  }
}
