.best {
    &__items {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-top: 30px;

        .item {
            padding: 40px 50px 10px 50px;
            display: flex;
            flex-direction: column;
            flex: 0 1 33%;
            gap: 30px;
            align-items: center;
            text-align: center;
            border-radius: 16px;
            background: #F8F9FA;
        }
    }
}

@media (max-width:1250px) {
    .best {
        &__items {
            flex-wrap: wrap;
            justify-content: center;

            .item {
                flex: 0 1 45%;
            }
        }
    }
}

@media (max-width:880px) {
    .best {
        &__items {
            flex-wrap: wrap;
            justify-content: center;

            .item {
                flex: 0 1 80%;
                gap: 20px;
            }
        }
    }
}