.best {
    &__items {
        margin: 30px 0;
        display: flex;
        gap: 40px;

        .item {
            background: #F8F9FA;
            border-radius: 16px;
            padding: 40px 70px 0 70px;
            display: flex;
            flex-direction: column;
            flex: 0 1 33%;
            gap: 30px;
            align-items: center;
            text-align: center;
        }
    }
}

@media (max-width:1200px) {
    .best {
        &__items {
            gap: 20px;
        }
    }
}

@media (max-width:900px) {
    .best {
        &__items {
            flex-wrap: wrap;
            justify-content: center;

            .item {
                flex: 0 1 45%;
            }
        }
    }
}

@media (max-width:640px) {
    .best {
        &__items {
            flex-wrap: wrap;
            justify-content: center;

            .item {
                flex: 0 1 90%;
            }
        }
    }
}