footer {
    background: #F8F9FA;
    padding: 30px 75px;
    display: flex;
    justify-content: space-between;

    .logo {
        max-width: 300px;

        p {
            text-align: left;
        }

        img {
            margin-left: 0;
        }
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: 15px;

        a {
            font-family: 'Inter';
            font-size: 17px;
            line-height: 22px;
        }
    }
}

@media (max-width:1000px) {
    footer {
        flex-wrap: wrap;
        gap: 25px;

        .logo {
            display: none;
        }

        .column {
            flex: 0 1 20%;
        }
    }
}

@media (max-width:768px) {
    footer {
        padding: 20px 40px;
    }
}

@media (max-width:600px) {
    footer {
        .column {
            flex: 0 1 45%;
            gap: 8px;
        }
    }
}

@media (max-width:600px) {
    footer {
        gap: 30px;

        .column {
            flex: 0 1 100%;
        }
    }
}