section {
    margin-bottom: 50px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}

.inner {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    color: #000000;
}

h1 {
    margin-bottom: 20px;
    font-family: 'Readex Pro';
    font-size: 58px;
    line-height: 70px;
}

h2 {
    margin-bottom: 10px;
    font-family: 'Readex Pro';
    font-size: 42px;
    line-height: 52px;
    text-align: center;
}

h3 {
    font-family: 'Readex Pro';
    font-size: 32px;
    line-height: 38px;
}

h4 {
    font-family: 'Readex Pro';
    font-size: 22px;
    line-height: 28px;
}

h5 {
    font-family: 'Readex Pro';
    font-size: 22px;
    line-height: 28px;
}

.sub-title {
    font-family: 'Readex Pro';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.btn {
    padding: 15px 50px;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 200px;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000;
    transition: all 0.3s ease 0s;

    &:hover {
        background: #000;
        color: #fff;
    }
}

@media (max-width:500px) {
    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    h2 {
        font-size: 30px;
        line-height: 37px;
    }

    h3 {
        font-size: 22px;
        line-height: 27px;
    }

    h4 {
        font-size: 18px;
        line-height: 20px;
    }

    .btn {
        padding: 10px 50px;
    }
}