body.active {
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    .menu {
        display: flex;
        gap: 33px;
        position: relative;

        a {
            text-transform: uppercase;
            font-family: 'Inter';
            font-size: 14px;
            line-height: 17px;

        }

        .arrow {
            position: relative;
            padding-right: 17px;

            &::before,
            &::after {
                content: '';
                width: 7px;
                height: 1px;
                background-color: #000;
                position: absolute;
                top: 8px;
            }

            &::after {
                transform: rotate(40deg);
                right: 5px;
            }

            &::before {
                transform: rotate(-40deg);
                right: 0;
            }
        }

        .sub-menu {
            display: flex;
            flex-direction: column;
            gap: 15px;
            position: absolute;
            padding: 20px;
            opacity: 0;
            border-radius: 10px;
            text-align: right;
            background: #F8F9FA;
            transition: all 0.3s ease 0s;
            z-index: 5;
            visibility: hidden;
            pointer-events: none;

            a:hover {
                text-decoration: underline;
            }
        }

        .sub-menu.active {
            margin-top: 10px;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    .buttons {
        position: relative;
        display: flex;
        gap: 20px;
        align-items: center;

        .input {
            display: none;
            position: absolute;
            right: 80px;
            padding: 5px;
            border: 2px solid #000;
            border-radius: 10px;
            font-size: 18px;
            transition: all 0.3s ease 0s;
        }

        .input.active {
            display: block;
        }
    }

    .burger {
        display: none;
    }
}

@media (max-width:770px) {
    .container {
        max-width: 680px;
    }

    header {
        position: relative;
        z-index: 1000;
        justify-content: flex-end;
        gap: 20px;

        .logo {
            position: absolute;
            left: 0;
            z-index: 6;
        }

        .buttons {
            z-index: 6;
        }

        .burger {
            z-index: 6;
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;

            &::before,
            &::after {
                content: '';
            }

            & span,
            &::before,
            &::after {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: #000;
            }
            
            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            & span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
        }

        .navbar.active {
            top: 0;
        }

        .navbar {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 100px 30px 30px 30px;
            transition: all 0.3s ease 0s;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.8);

            .menu {
                display: flex;
                flex-direction: column;

                a {
                    color: #fff;
                    font-size: 20px;
                }

                .arrow::before,
                .arrow::after {
                    background-color: #fff;
                }

                &.active::before {
                    content: ' ';
                    z-index: 6;
                    position: fixed;
                    width: 100%;
                    top: 0;
                    left: 0;
                    height: 80px;
                    background-color: #fff;
                }

                .sub-menu.active {
                    position: relative;
                    top: 10px;
                    background-color: rgb(101, 101, 101);
                    text-align: left;
                }
            }
        }
    }
}