.search-input {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    #search {
        background-image: url('/icons/input_search.svg');
        background-position: 15px center;
        background-repeat: no-repeat;
        background-color: #F8F9FA;
        border: 1px solid #C5C5C5;
        border-radius: 100px;
        padding: 20px 70px;
        font-family: 'Inter';
        font-size: 20px;
        line-height: 17px;
        min-width: 50%;
        color: #000;
        margin-bottom: 20px;

        &::placeholder {
            font-size: 14px;
            color: #000;
        }

        &::-webkit-search-cancel-button {
            display: none;
        }
    }

    .words {
        max-width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        .btn {
            padding: 10px 20px;
        }
    }
}

.email-input {
    background: #DCE5E2;
    border-radius: 16px;
    padding: 45px 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    form {
        display: flex;
        justify-content: center;

        #email-sign,
        #submit-btn {
            padding: 15px 30px;
            font-family: 'Inter';
            font-size: 14px;
            line-height: 17px;
        }

        #email-sign {
            background: #DCE5E2;
            border: 1px solid #000000;
            border-radius: 54px 0px 0px 54px;

            &::placeholder {
                color: #000;
            }
        }

        #submit-btn {
            background: #000000;
            border-radius: 0px 200px 200px 0px;
            color: #fefefe;
        }
    }
}

@media (max-width:1050px) {
    .search-input {
        .words {
            max-width: 80%;
        }
    }
}

@media (max-width:770px) {
    .search-input {
        #search {
            padding: 10px 50px;
        }

        a {
            padding: 5px 10px;
        }

        .words {
            max-width: 100%;
        }
    }
}

@media (max-width:500px) {
    .search-input {
        #search {
            margin-bottom: 0;
        }

        .words {
            display: none;
        }
    }

    #email-sign,
    #submit-btn {
        padding: 0 50px;
    }
}

@media (max-width:425px) {
    #search {
        transform: scale(0.8);
    }

    form {
        transform: scale(0.7);
    }
}