.sell {
    &__items {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-top: 30px;

        .item {
            display: flex;
            flex-direction: column;
            flex: 0 1 25%;
            gap: 10px;
            font-family: 'Inter';

            p {
                font-size: 14px;
                line-height: 17px;
                color: #4B4B4B;
            }

            .price {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}

@media (max-width:900px) {
    .sell {
        &__items {
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;

            .item {
                flex: 0 1 40%;
            }
        }
    }
}

@media (max-width:500px) {
    .sell {
        &__items {
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;

            .item {
                flex: 0 1 80%;
            }
        }
    }
}