@import url(/css/nullstyle.css);
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import '_header';
@import '_swiper';
@import '_categories';
@import '_sell';
@import '_best';
@import '_ideas';
@import '_input';

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}

.inner {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    color: #000000;
}

h1 {
    font-family: 'Readex Pro';
    font-size: 58px;
    line-height: 70px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Readex Pro';
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Readex Pro';
    font-size: 32px;
    line-height: 38px;
}

h4 {
    font-family: 'Readex Pro';
    font-size: 22px;
    line-height: 28px;
}

.sub-title {
    font-family: 'Readex Pro';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.btn {
    font-family: 'Inter';
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    padding: 15px 50px;
    color: #000;
    border: 1px solid #000000;
    border-radius: 200px;
    display: inline-block;
}